.container-1 {
    border: 1px solid black;
    width: 75%;
    margin: 0 auto;
    text-align: center;
}

.flex-box-container-1 {
    display: flex;
    border: 1px solid black;
    padding: 10px;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}
.flex-box-container-1 div {
    display: flex;
    padding: 10px;
    border: 1px solid black;
    align-items: center;
}

.container-2 {
    border: 1px solid black;
    width: 75%;
    margin: 0 auto;
    text-align: center;
}

.flex-box-container-2 {
    display: flex;
    border: 1px solid black;
    padding: 10px;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}

.flex-box-container-2 img {
    margin: 10px;
    box-shadow: 8px, 10px, 50px, rgba(0, 0, 0, 7); 
}

.container-3 {
    border: 1px solid black;
    width: 75%;
    margin: 0 auto;
    text-align: center;
}

.flex-box-rps {
    display: flex;
    border: 1px solid black;
    padding: 10px;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}

.flex-box-rps img:hover {
    border: 1px solid rgba(37, 50, 233, 1);
    
}

.container-4 {
    border: 1px solid black;
    width: 75%;
    margin: 0 auto;
    text-align: center;
}

.flex-box-pick-color {
    display: flex;
    border: 1px solid black;
    padding: 10px;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}

.container-5 {
    border: 1px solid black;
    width: 75%;
    margin: 0 auto;
    text-align: center;
}

.flex-blackjack-row-1 {
    background: url('https://images.unsplash.com/photo-1619537770150-f400d7a9811f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjB8fGdyZWVuJTIwZ2FtZXZpZXclMjB0YWJsZSUyMGJhY2tncm91bmR8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60');
    color: #ffffff;
    display: flex;
    border: 1px solid black;
    padding: 10px;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}

.flex-blackjack-row-1 img {
    width: 25%;
    padding: 10px;
}

.flex-blackjack-row-1 div {
    border: 1px solid black;
    padding: 10px;
    flex: 1;
    text-align: center;
    height: 360px;
}

.flex-blackjack-row-2{
    background: url('https://images.unsplash.com/photo-1619537770150-f400d7a9811f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjB8fGdyZWVuJTIwZ2FtZXZpZXclMjB0YWJsZSUyMGJhY2tncm91bmR8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60');
    color: #ffffff;
    display: flex;
    border: 1px solid black;
    padding: 10px;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}

.flex-blackjack-row-2 button{
    border: 1px solid black;
    padding: 10px;
}

.flex-blackjack-row-2 div{
    border: 1px solid black;
    padding: 10px;
}

.flex-blackjack-row-3{
    display: flex;
    border: 1px solid black;
    padding: 10px;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}

table, th, td {
    padding: 5px;
    border: 1px solid black;
}


